<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore 
        processPath="dotnet"
        arguments=".\EventXpert_MVC_MyVersion.dll"
        stdoutLogEnabled="true"
        stdoutLogFile="\\?\D:\home\LogFiles\stdout"
        hostingModel="inprocess"
        forwardWindowsAuthToken="false" />
    </system.webServer>
  </location>
</configuration>